* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: antiquewhite; */
    background-color: beige;
    height: 100px;

    /*  background-image in full screen the use the (background-size: cover;) */
    /* padding: 0 100px; */
    /* margin:46px 100px ; */
}

.box{
    width: 150px;
    height: 55px;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box a{
    margin: 5px;color: blue;
}
.box a:hover{
    color: #b2f;
    text-shadow: 0 0 20px #3683ff9f;
}
.top{
    position: absolute;
    background: #0d0d0d;
    top:-1%;
    
}
.menu-bar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: lightcoral;
    color: black;
    font-family: 'Ubuntu', sans-serif;

}

.menu-bar ul li {
    transform: scale(0, 1);
    cursor: pointer;
    padding: 0 40px;
}

.brand img {
    width: 180px;
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

:active,
.menu-bar ul li:hover {
    background-color: blueviolet;
    border-radius: 3px;
}

.menu-bar fa {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
    float: right;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(255, 0, 195);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #b2f;
}